<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Product List</h1>
    <a href="/new">Create New Laptop</a>
    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
            	<th>Image</th>
                <th>Product ID</th>
                <th>Brand</th>
                <th>Name</th>
                <th>CPU</th>
                <th>Card Graphic</th>
                <th>Hard Drive</th>
                <th>RAM</th>
                <th>Display</th>
                <th>Weight</th>
                <th>OS</th>
                <th>Pin</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="laptop : ${laptops}">
                <td>
                	<img th:src="@{${laptop.image}}" alt="alternatetext" width="200">
                </td>
                <td th:text="${laptop.laptopId}">Product ID</td>
                <td th:text="${laptop.brand}">Bran</td>
                <td th:text="${laptop.name}">Name</td>
                <td th:text="${laptop.cpu}">Cpu</td>
                <td th:text="${laptop.cardGraphic}">Card Graphic</td>
                <td th:text="${laptop.hardDrive}">Hard Drive</td>
                <td th:text="${laptop.ram}">Ram</td>
                <td th:text="${laptop.display}">Display</td>
                <td th:text="${laptop.weight}">Weight</td>
                <td th:text="${laptop.color}">Color</td>
                <td th:text="${laptop.os}">OS</td>
                <td th:text="${laptop.pin}">Pin</td>
                <td th:text="${laptop.price}">Price</td>
                <td>
                    <a th:href="@{'/edit/' + ${laptop.laptopId}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{'/delete/' + ${laptop.laptopId}}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>   
</body>
</html>